# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
df=[ 4, 8, 15, 16, 23, 42]
print(df)

[4, 8, 15, 16, 23, 42]

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [14]:
import pandas as pd
df1=[1,2,3,4,5,6,7,8,9,10]
s=pd.Series(df1)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.

In [18]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Creating the DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   27      Chicago

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [20]:
'''Key Differences:
Dimensions:

Series: One-dimensional (1D).
DataFrame: Two-dimensional (2D).
Data Structure:

Series: Essentially a single column of data.
DataFrame: Multiple columns of data, each of which can be a Series.
Indexing:

Series: Indexed by a single set of labels.
DataFrame: Indexed by both rows and columns.'''

'Key Differences:\nDimensions:\n\nSeries: One-dimensional (1D).\nDataFrame: Two-dimensional (2D).\nData Structure:\n\nSeries: Essentially a single column of data.\nDataFrame: Multiple columns of data, each of which can be a Series.\nIndexing:\n\nSeries: Indexed by a single set of labels.\nDataFrame: Indexed by both rows and columns.'

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [21]:
'''unction	Description	Example
read_csv()	Reads a CSV file into a DataFrame	pd.read_csv('file.csv')
to_csv()	Writes a DataFrame to a CSV file	df.to_csv('file.csv')
head()	Returns the first n rows of the DataFrame	df.head(5)
tail()	Returns the last n rows of the DataFrame	df.tail(5)
info()	Provides a concise summary of the DataFrame	df.info()
describe()	Generates descriptive statistics of the DataFrame	df.describe()
shape	Returns the dimensions of the DataFrame (rows, columns)	df.shape
columns	Returns the column labels of the DataFrame	df.columns
index	Returns the index (row labels) of the DataFrame	df.index
dtypes	Returns the data types of each column	df.dtypes
sort_values()	Sorts the DataFrame by the specified column(s)	df.sort_values('column_name')
sort_index()	Sorts the DataFrame by its index	df.sort_index()
drop()	Drops specified labels from rows or columns	df.drop('column_name', axis=1)
dropna()	Drops rows with missing values	df.dropna()
fillna()	Fills missing values with a specified value	df.fillna(0)
isna()	Detects missing values in the DataFrame	df.isna()
apply()	Applies a function along an axis of the DataFrame	df.apply(np.sqrt)
map()	Maps values of a Series using input correspondence	df['column_name'].map({'A': 1, 'B': 2})
groupby()	Groups the DataFrame using a mapper or by a Series of columns	df.groupby('column_name')
merge()	Merges DataFrame or named Series objects with a database-style join	pd.merge(df1, df2, on='key')
concat()	Concatenates pandas objects along a particular axis	pd.concat([df1, df2])
pivot_table()	Creates a pivot table based on the DataFrame	df.pivot_table(values='D', index='A', columns='B')
melt()	Unpivots a DataFrame from wide format to long format	pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
astype()	Casts a pandas object to a specified dtype	df['column_name'].astype(float)
set_index()	Sets the DataFrame index using existing columns	df.set_index('column_name')
reset_index()	Resets the index of the DataFrame to the default integer index	df.reset_index()'''

"unction\tDescription\tExample\nread_csv()\tReads a CSV file into a DataFrame\tpd.read_csv('file.csv')\nto_csv()\tWrites a DataFrame to a CSV file\tdf.to_csv('file.csv')\nhead()\tReturns the first n rows of the DataFrame\tdf.head(5)\ntail()\tReturns the last n rows of the DataFrame\tdf.tail(5)\ninfo()\tProvides a concise summary of the DataFrame\tdf.info()\ndescribe()\tGenerates descriptive statistics of the DataFrame\tdf.describe()\nshape\tReturns the dimensions of the DataFrame (rows, columns)\tdf.shape\ncolumns\tReturns the column labels of the DataFrame\tdf.columns\nindex\tReturns the index (row labels) of the DataFrame\tdf.index\ndtypes\tReturns the data types of each column\tdf.dtypes\nsort_values()\tSorts the DataFrame by the specified column(s)\tdf.sort_values('column_name')\nsort_index()\tSorts the DataFrame by its index\tdf.sort_index()\ndrop()\tDrops specified labels from rows or columns\tdf.drop('column_name', axis=1)\ndropna()\tDrops rows with missing values\tdf.dropna()\nfillna()\tFills missing values with a specified value\tdf.fillna(0)\nisna()\tDetects missing values in the DataFrame\tdf.isna()\napply()\tApplies a function along an axis of the DataFrame\tdf.apply(np.sqrt)\nmap()\tMaps values of a Series using input correspondence\tdf['column_name'].map({'A': 1, 'B': 2})\ngroupby()\tGroups the DataFrame using a mapper or by a Series of columns\tdf.groupby('column_name')\nmerge()\tMerges DataFrame or named Series objects with a database-style join\tpd.merge(df1, df2, on='key')\nconcat()\tConcatenates pandas objects along a particular axis\tpd.concat([df1, df2])\npivot_table()\tCreates a pivot table based on the DataFrame\tdf.pivot_table(values='D', index='A', columns='B')\nmelt()\tUnpivots a DataFrame from wide format to long format\tpd.melt(df, id_vars=['A'], value_vars=['B', 'C'])\nastype()\tCasts a pandas object to a specified dtype\tdf['column_name'].astype(float)\nset_index()\tSets the DataFrame index using existing columns\tdf.set_index('column_name')\nreset_index()\tResets the index of the DataFrame to the default integer index\tdf.reset_index()"

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [23]:
In pandas, both Series and DataFrame are mutable in nature. This means that you can change their contents after they have been created

SyntaxError: invalid syntax (132184815.py, line 1)

In [24]:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Original DataFrame:\n", df)

# Modifying a value
df.at[0, 'A'] = 10
print("Modified DataFrame:\n", df)

# Adding a new column
df['C'] = [7, 8, 9]
print("DataFrame with new column:\n", df)

Original DataFrame:
    A  B
0  1  4
1  2  5
2  3  6
Modified DataFrame:
     A  B
0  10  4
1   2  5
2   3  6
DataFrame with new column:
     A  B  C
0  10  4  7
1   2  5  8
2   3  6  9

In [25]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3])
print("Original Series:\n", s)

# Modifying a value
s[0] = 10
print("Modified Series:\n", s)

Original Series:
 0    1
1    2
2    3
dtype: int64
Modified Series:
 0    10
1     2
2     3
dtype: int64

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

# Printing the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago